body {
    margin: 0;
    font-size: 13px;
    font-family: georgia,serif;
    line-height: 1.5;
}

.correct {
    color: green;
    font-weight: bold;
}

.incorrect {
    color: red;
    font-weight: bold;
}

.hidden {
    display: none
}
